<%-include("header")-%>



<div class="box" id="heading">
  <h1><%=listTitle%></h1>
</div>


<!-- In this form we are:
1. passing each item's ID to /delete by signing current mission's check box
2. showing each item's name -->
<div class="box">
  <%newListItems.forEach(function(item) {%>
  <form class="" action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="deletedItem" value="<%=item.id%>" onChange="this.form.submit()">
      <p><%=item.name%></p>
    </div>
    <input type="hidden" name="listName" value="<%=listTitle%>"></input>
  </form>
  <%})%>

<!-- In this form we are allowing the user to add new missions  -->
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <!-- With the input tag we're passing var "name" that stores the text that
    the user wrote. -->
    <button type="submit" name="list" value= "<%=listTitle%>" >+</button>
    <!-- The var "name" stors the value of var "value" that stores the name of current list,
    and so we're passing current list's name by pressing the + sign -->
  </form>

</div>



<%- include("footer") -%>
